<body>
          <div class="page-group01">
            <img
              alt="Rectangle1783211"
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              class="page-rectangle1"
            />
            <div class="page-group02">
              <span class="page-text1"><span>Технології</span></span>
              <span class="page-text2">
                <span>
                  Технологія - це застосування наукових знань для створення
                  інструментів, процесів та матеріалів, які можуть бути
                  використані для вирішення практичних проблем чи досягнення
                  певних цілей.
                </span>
              </span>
              <img
                alt="comprehensivelistofdevopstools13211"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-comprehensivelistofdevopstools2"
              />
            </div>
            <img
              alt="Line283211"
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              class="page-line28"
            />
            <div class="page-group03">
              <img
                alt="Rectangle1673211"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-rectangle2"
              />
              <img
                alt="Rectangle1693211"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-rectangle3"
              />
              <span class="page-text3"><span>Читати</span></span>
              <img
                alt="Comment3211"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-comment01"
              />
              <span class="page-text4"><span>158</span></span>
              <img
                alt="Frame3211"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-frame01"
              />
              <span class="page-text5"><span>22.К</span></span>
              <span class="page-text6"><span>Заголовок</span></span>
              <img
                alt="Vector3211"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-vector01"
              />
              <span class="page-text7"><span>16.02.2024</span></span>
              <span class="page-text8"><span>Богдан Гагарін</span></span>
              <div class="page-frame010">
                <img
                  alt="Ellipse273211"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="page-ellipse01"
                />
                <img
                  alt="avatar23211"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="page-avatar01"
                />
              </div>
              <span class="page-text9">
                <span>
                  Нью-Йорк, 10 февраля 2024 года – Картина под названием
                  "Бессознательное", созданная искусственным интеллектом, была
                  продана на аукционе Christie's за 435 000 долларов. Это стало
                  новым рекордом для произведений искусства,
                </span>
              </span>
              <img
                alt="Frame3211"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-frame02"
              />
            </div>
            <div class="page-group33">
              <img
                alt="Rectangle1673211"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-rectangle1671"
              />
              <img
                alt="Rectangle1693211"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-rectangle1691"
              />
              <span class="page-text18"><span>Читати</span></span>
              <img
                alt="Comment3211"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-comment1"
              />
              <span class="page-text20"><span>158</span></span>
              <img
                alt="Frame3211"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-frame03"
              />
              <span class="page-text22"><span>22.К</span></span>
              <span class="page-text24"><span>Заголовок</span></span>
              <img
                alt="Vector3211"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-vector1"
              />
              <span class="page-text26"><span>16.02.2024</span></span>
              <span class="page-text28"><span>Богдан Гагарін</span></span>
              <div class="page-frame04">
                <img
                  alt="Ellipse273211"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="page-ellipse271"
                />
                <img
                  alt="avatar23211"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="page-avatar21"
                />
              </div>
              <span class="page-text30">
                <span>
                  Нью-Йорк, 10 февраля 2024 года – Картина под названием
                  "Бессознательное", созданная искусственным интеллектом, была
                  продана на аукционе Christie's за 435 000 долларов. Это стало
                  новым рекордом для произведений искусства,
                </span>
              </span>
              <img
                alt="Frame3211"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-frame05"
              />
            </div>
            <div class="page-group34">
              <img
                alt="Rectangle1673212"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-rectangle1672"
              />
              <img
                alt="Rectangle1693212"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-rectangle1692"
              />
              <span class="page-text32"><span>Читати</span></span>
              <img
                alt="Comment3212"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-comment2"
              />
              <span class="page-text34"><span>158</span></span>
              <img
                alt="Frame3212"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-frame06"
              />
              <span class="page-text36"><span>22.К</span></span>
              <span class="page-text38"><span>Заголовок</span></span>
              <img
                alt="Vector3212"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-vector2"
              />
              <span class="page-text40"><span>16.02.2024</span></span>
              <span class="page-text42"><span>Богдан Гагарін</span></span>
              <div class="page-frame07">
                <img
                  alt="Ellipse273212"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="page-ellipse272"
                />
                <img
                  alt="avatar23212"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="page-avatar22"
                />
              </div>
              <span class="page-text44">
                <span>
                  Нью-Йорк, 10 февраля 2024 года – Картина под названием
                  "Бессознательное", созданная искусственным интеллектом, была
                  продана на аукционе Christie's за 435 000 долларов. Это стало
                  новым рекордом для произведений искусства,
                </span>
              </span>
              <img
                alt="Frame3212"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-frame08"
              />
            </div>
            <div class="page-group35">
              <img
                alt="Rectangle1673212"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-rectangle1673"
              />
              <img
                alt="Rectangle1693212"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-rectangle1693"
              />
              <span class="page-text46"><span>Читати</span></span>
              <img
                alt="Comment3212"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-comment3"
              />
              <span class="page-text48"><span>158</span></span>
              <img
                alt="Frame3212"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-frame09"
              />
              <span class="page-text50"><span>22.К</span></span>
              <span class="page-text52"><span>Заголовок</span></span>
              <img
                alt="Vector3212"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-vector3"
              />
              <span class="page-text54"><span>16.02.2024</span></span>
              <span class="page-text56"><span>Богдан Гагарін</span></span>
              <div class="page-frame10">
                <img
                  alt="Ellipse273212"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="page-ellipse273"
                />
                <img
                  alt="avatar23212"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="page-avatar23"
                />
              </div>
              <span class="page-text58">
                <span>
                  Нью-Йорк, 10 февраля 2024 года – Картина под названием
                  "Бессознательное", созданная искусственным интеллектом, была
                  продана на аукционе Christie's за 435 000 долларов. Это стало
                  новым рекордом для произведений искусства,
                </span>
              </span>
              <img
                alt="Frame3212"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-frame11"
              />
            </div>
            <div class="page-group42">
              <img
                alt="Vector343212"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-vector34"
              />
              <img
                alt="Vector353212"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-vector35"
              />
            </div>
            <div class="page-group51">
              <img
                alt="Rectangle1693212"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="page-rectangle1694"
              />
              <span class="page-text60"><span>Перейти до теми</span></span>
            </div>
          </div>
  </body>
</html>
